body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#ft_list {
    width: 300px;
    padding: 20px;
    background-color: rgb(121, 121, 121);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#ft_list div {
    background-color: #e7e7e7;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

#new-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
}

