body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

label {
    font-size: 1.2em;
}

select {
    padding: 10px;
    font-size: 1.1em;
    margin-left: 10px;
}

#selected-ingredient {
    margin-top: 20px;
    font-size: 1.1em;

}
