body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #96c3fd;
}

nav {
    background-color: #053388;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    height: 100vh;
    margin: 20px auto;
}

.section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: none;
    border-radius: 10px;
    background-color: #313038;
}

.section#contact {
    background-image: url('https://img.freepik.com/free-vector/3d-style-black-background-with-paper-layer_206725-669.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1726099200&semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    color: #1a49c9;
    padding: 50px 20px;
} 

h2 {
    color: #1a49c9;
}

img {
    max-width: 100%;
    height: 80%;
    border-radius: 10px;
}

.intro-text {
    margin-top: 10px;
    font-size: 25px;
    color: #1a49c9;
}

.gallery {
    display: flex;
    gap: 20px;
}

.gallery img {
    flex: 1;
    max-width: 40%;
}
.contact-info {
    font-size: 25px;
    color: #0044ff;
    align-items: center;
    border: 10px solid #008cba; 
    padding: 50px; 
    border-radius: 400px; 
    background-color: #96c3fd;
}

.contact-info a {
    color: #0044ff;
}
